@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	min-width: 240px;
	max-width: 600px;
	color: #D8E7DE;
	background-image: url(../img/dark-mosaic/dark-mosaic.png);
	font-family: "Avenir", sans-serif;
	font-size: 1em;
}

.search {
	text-align: right;
	display: inline-block;
	width: 100%;
}

header {
	width: 100%;
	height: 200px;
	margin-bottom: 50px;
}

.logo {
	max-width: 200px;
	padding-left: 20px;
}

h1 {
	padding-left: 20px;
	margin: 0;
	display: inline;
	width: 100%;
	color: #19494D;
	font-family: "Emmascript MVB Std";
	font-size: 3em;
	text-shadow: 0 0 1em #19494D, 0 0 1em #19494D, 0 0 1em #19494D;
}

nav {
	text-align: center;
	padding: 7px 0 7px 0;
	width: 100%;
}

nav li {
	list-style-type: none;
	display: inline;
	padding-right: 10%;
	color: #000;
	text-shadow: 0 0 0.5em #4D7036, 0 0 0.5em #4D7036, 0 0 0.5em #4D7036;
}

nav a,
nav a:link,
nav a:visited {
	display: inline-block;
}

.main-bucket {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

.unit {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
}

footer {
	font-size: 0.75em;
	display: inline;
	color: #19494D; 
}

@media only screen and (min-width: 37.75em) {
html {
	max-width: 1200px;
}

header {
	overflow: hidden;
}

.logo {
	float: left;
}

h1 {
}

nav {
	text-align: left;
	width: 25%;
}

nav li {
	display: block;
	padding-bottom: 15px;
}

.unit-m-1-2 {
    width: 75%;
	float: right;
	margin-top: -157px;
}
 
p {
	padding-left: 5%; 
}
}

@media only screen and (min-width: 80em) {
html {
	font-size: 1.5em;
}

.unit-m-1-2 {
	margin-top: -206px;
}

header {
	margin-bottom: -50px;
}
}