# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Jenny Chew
- Nadia Pietrobon
- {Jordan Doe}

## Tasks

1. Find the Firefly page
2. Find the Bobtail Squid button
3. Find the Black Dragonfish button

---

## Individual Results & Observations

###Jenny Chew

- Hovered over 'Species' in nav as expected
- Clicked on 'Insects' in drop down menu as expected
- Clicked on 'Firefly' button as expected
- Did not struggle at all
- SUPA EASY

###Nadia Pietrobon

- Hovered over 'Species' in nav as expected
- Clicked on 'Insects' in drop down menu as expected
- Clicked on 'Firefly' button as expected
- Did not struggle

###Winnie Lai

- Hovered over 'Species' in nav as expected
- Clicked on 'Insects' in drop down menu as expected
- Clicked on 'Firefly' button as expected
- Did not struggle

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- All participants succeeded as expected with no complicates, confusion or frustration.

### Serious, Causes Frustration, May Hinder Completion

- All participants succeeded as expected with no complicates, confusion or frustration.

### Minor, Annoying, Won’t Hinder Completion

- All participants succeeded as expected with no complicates, confusion or frustration.